
<p id="notice"><%= notice %></p>

<h1>Recent Activity</h1>

<%= link_to 'Post', new_post_path, class: "btn btn-default pull-right" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Posted at</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post, class: "btn-link h3" %></td>
        <td><%= gravatar_for post.user, size: 50 %></td>
        <td><%= post.created_at.to_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @posts, theme:"twitter-bootstrap-3" %>