<head>
  <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<p id="notice"><%= notice %></p>

<h1 style="font-family: Arial; color: #070719;"><span class="glyphicon glyphicon-fire" style="color: #FF8000;"></span> Recent Activity</h1>

<%= link_to 'Ask Question', new_post_path, class: "btn btn-default pull-right" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th><span class="glyphicon glyphicon-user"></span></th>
      <th><span class="glyphicon glyphicon-thumbs-up"></span></th>
      <th><span class="glyphicon glyphicon-thumbs-down"></span></th>
      <th><span class="glyphicon glyphicon-eye-open"></span></th>
      <th><span class="glyphicon glyphicon-comment"></span></th>
      <th><span class="glyphicon glyphicon-time"></span></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <%= link_to post.title, post, class: "btn-link h3" %></br>
          <% post.tags.each do |tag| %>
            <span class="label label-primary"><%=link_to tag.name , "/posts/hashtag/#{tag.name}".html_safe %></span>
          <% end %>
        </td>
        <td><%= gravatar_for post.user, size: 50 %>  <%= post.user.email %></td>
        <td><%= likes(post) %></td>
        <td><%= dislikes(post) %></td>
        <td><%= post.views %></td>
        <td><%= post.comments.size %></td>
        <td><%= post.created_at.to_date %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @posts, theme:"twitter-bootstrap-3" %>