<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
        <div class="col-sm-12">
        <%= link_to 'Back', posts_path, class: "btn btn-default"  %>
        </div>
    </div>
        <div class="row">
        <div class="col-sm-8">
            <h1>
                <%= @post.title %>
            </h1>
        </div>
        <div class="col-sm-4 text-right">
            <% if @post.user == current_user || is_admin() %>
                <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_post_path(@post), class: "btn btn-default" %>
                <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
            <% end %>
            <%= link_to '<span class="glyphicon glyphicon-exclamation-sign"></span>'.html_safe, @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning pull-right" %>
        </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
               <img > <%= gravatar_for @post.user, size: 50 %></img>
            </div>
            <div class="col-sm-12">
                <p class="h3">
                    <%= @post.content %>
                </p>
            </div>
        </div>
        <div class="row text-right">
            <div class="col-sm-12">
                <div class="btn-group " role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                  <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-thumbs-down"></span></button>
                </div>
            </div>
        </div>
  </div>
</div>
  <% unless @comments.nil? %>
    <% @comments.each do |comment| %>
      <div class="panel panel-default">
        <div class="panel-body">
         <h4><%= comment.user.email %> says:</h4>  <br>
         <h5><%= comment.content %></h5> <br>
          <% if comment.user == current_user  || is_admin()%>
            <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default pull-right" %><br>
          <% end %>
          <%= link_to '<span class="glyphicon glyphicon-exclamation-sign"></span>'.html_safe, comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning pull-right" %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= render 'comments/form', locals: {comment: @comment}%>