<p id="notice"><%= notice %></p>

<script>
$("#like").click(function(){
  var post = <% @post.id %>
  alert(post);
  <% if true %>
    $.ajax({url: "/posts/@post.id/like"}, type: 'PUT');
  <% else %>
    alert("Ok");
  <% end %>
});

$("#dislike").click(function(){
  alert("dislike");
});
</script>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-8">
        <h1>
          <%= @post.title %>
        </h1>
      </div>
      <div class="col-sm-4 text-right">
        <% if @post.user == current_user || is_admin() %>
          <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_post_path(@post), class: "btn btn-default" %>
          <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
        <% end %>
        <%= link_to '<span class="glyphicon glyphicon-exclamation-sign"></span>'.html_safe, @post, data: { confirm: 'Are you sure?' }, class: "btn btn-warning pull-right" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="h3">
          <%= simple_format @post.content %>
        </p>
        <br>
      </div>
    </div>
    <img> <%= gravatar_for @post.user, size: 25 %></img>
    <%= @post.user.email %>
    <div class="pull-right">
      <span><%= likes(@post) %></span>
      <%= link_to '<span class="glyphicon glyphicon-thumbs-up"></span>'.html_safe, like_post_path(@post), method: :put, remote: true, class: 'btn btn-success' %>
      <span><%= dislikes(@post) %></span>
      <%= link_to '<span class="glyphicon glyphicon-thumbs-down"></span>'.html_safe, dislike_post_path(@post), method: :put, remote: true, class: 'btn btn-danger' %>
    </div>
  </div>
</div>
<% unless @comments.nil? %>
  <% @comments.each do |comment| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to '<span class="glyphicon glyphicon-exclamation-sign"></span>'.html_safe, comment, data: { confirm: 'Are you sure?' }, class: "btn btn-warning pull-right" %>
       <h4>
         <div>
           <img> <%= gravatar_for comment.user, size: 25 %></img>
           <%= comment.user.email %>:
         </div>
        </h4> <br><br>
       <h5><%= comment.content %></h5> <br>
       <small>Commented at: <%= comment.created_at.to_date %></small>
        <% if comment.user == current_user  || is_admin()%>
          <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default pull-right" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<%= paginate @comments, theme:"twitter-bootstrap-3" %>

<%= render 'comments/form', locals: {comment: @comment}%>
