<p id="notice"><%= notice %></p>

<script>
$("#like").click(function(){
  var likesNumber = document.getElementById("likesNumber").innerHTML;
  var likesNumber = parseInt(likesNumber) + 1
  document.getElementById("likesNumber").innerHTML = likesNumber;
});

$("#unlike").click(function(){
  var likesNumber = document.getElementById("likesNumber").innerHTML;
  var likesNumber = parseInt(likesNumber) - 1
  document.getElementById("likesNumber").innerHTML = likesNumber;
});

$("#dislike").click(function(){
  var dislikesNumber = document.getElementById("dislikesNumber").innerHTML;
  var dislikesNumber = parseInt(dislikesNumber) + 1
  document.getElementById("dislikesNumber").innerHTML = dislikesNumber;
});

$("#undislike").click(function(){
  var dislikesNumber = document.getElementById("dislikesNumber").innerHTML;
  var dislikesNumber = parseInt(dislikesNumber) - 1
  document.getElementById("dislikesNumber").innerHTML = dislikesNumber;
});

$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-8">
        <h1>
          <%= @post.title %>
        </h1>
      </div>
      <div class="col-sm-4 text-right">
        <% if @post.user == current_user || is_admin() %>
          <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_post_path(@post), class: "btn btn-default" %>
          <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default", style: "margin-right: 4px;" %>
        <% end %>
        <%= link_to '<span class="glyphicon glyphicon-exclamation-sign"></span>'.html_safe, @post, data: { confirm: 'Are you sure?' }, class: "btn btn-warning pull-right" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="h3">
          <%= simple_format render_with_hashtags(@post.content) %>
        </p>
        <br>
      </div>
    </div>
    <img> <%= gravatar_for @post.user, size: 25 %></img>
    <%= @post.user.email %>
    <div class="pull-right">
      <% if user_signed_in? %>
        <span id="likesNumber"><%= likes(@post) %></span>
        <% if !already_liked(@post) %>
          <%= link_to '<span class="glyphicon glyphicon-thumbs-up"></span>'.html_safe, like_post_path(@post), method: :put, remote: true, id: "like", class: 'btn btn-success' %>
        <% else %>
          <%= link_to '<span class="glyphicon glyphicon-thumbs-up"></span>'.html_safe, unlike_post_path(@post), method: :put, remote: true, id: "unlike", class: 'btn btn-success' %>
        <% end %>
        <span id="dislikesNumber"><%= dislikes(@post) %></span>
        <% if !already_disliked(@post) %>
          <%= link_to '<span class="glyphicon glyphicon-thumbs-down"></span>'.html_safe, dislike_post_path(@post), method: :put, remote: true, id: "dislike", class: 'btn btn-danger' %>
        <% else %>
          <%= link_to '<span class="glyphicon glyphicon-thumbs-down"></span>'.html_safe, undislike_post_path(@post), method: :put, remote: true, id: "undislike", class: 'btn btn-danger' %>
        <% end %>
      <% else %>
        <span id="likesNumber"><%= likes(@post) %></span>
        <a tabindex="0" class="btn btn-success" role="button" data-toggle="popover" data-trigger="focus" title="You need to sign in first" data-content="To give us your feedback about this post you need to sign in." data-placement="bottom"><span class="glyphicon glyphicon-thumbs-up"></span></a>
        <span id="dislikesNumber"><%= dislikes(@post) %></span>
        <a tabindex="0" class="btn btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="You need to sign in first" data-content="To give us your feedback about this post you need to sign in." data-placement="left"><span class="glyphicon glyphicon-thumbs-down"></span></a>
      <% end %>
    </div>
  </div>
</div>
<% unless @comments.nil? %>
  <% @comments.each do |comment| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to '<span class="glyphicon glyphicon-exclamation-sign"></span>'.html_safe, comment, data: { confirm: 'Are you sure?' }, class: "btn btn-warning pull-right" %>
       <h4>
         <div>
           <img> <%= gravatar_for comment.user, size: 25 %></img>
           <%= comment.user.email %>:
         </div>
        </h4> <br><br>
       <h5><%= comment.content %></h5> <br>
       <small>Commented at: <%= comment.created_at.to_date %></small>
        <% if comment.user == current_user  || is_admin()%>
          <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default pull-right", style: "margin-right: 15px;" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<%= paginate @comments, theme:"twitter-bootstrap-3" %>

<%= render 'comments/form', locals: {comment: @comment}%>
