<!DOCTYPE html>
<html>
<head>
  <title>Forum Rails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to image_tag("icon.png", size: "28x28"), root_path, class: "navbar-brand" %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div style= "margin-top: 10px">
        <form class= "form-inline">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <%= form_tag(search_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control mr-sm-2" %>
              <%= button_tag(type: "submit", class: "btn btn-primary my-2 my-sm-0", style: "margin-right: 15px;") do %>
                <span class="glyphicon glyphicon-search"></span>
              <% end %>
            <% end %>
            <% if user_signed_in? %>
            <%= gravatar_for current_user, size: 35 %>
              <a href="#" class="dropdown-toggle btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <%= current_user.email %><span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <% if is_admin %>
                  <li><%= link_to 'Reports', reports_path %></li>
                <% end %>
                <li><%= link_to 'My Account', edit_user_registration_path %></li>
                <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
                <li><%= link_to 'Profile' %></li>
              </ul>
              </li>
            <% else %>
              <%= link_to 'Login', new_user_session_path, class: "btn btn-default" %>
            <% end %>
        </form>
            </div>
            </ul>
          </li>
        <div class="col-md-1"></div>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="col-md-1"></div>
<div class="col-md-10">
  <%= yield %>
</div>

</body>

</html>
